<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Sample2
    link(rel="stylesheet", href="style.css")
  body
    .section
      .content
        .block
          .logo
            a(href="#") Smart
          .menu
            .humbegar
              div
            .menu-list
              a(href="#") Link 1
              a(href="#") Link 2
              a(href="#") Link 3
        .text
          h1
            span.highlight Smart
            Agency Agency Landign Page
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, fuga provident. Libero magni
           br
           quibusdam labore ad iste saepe hic, maxime qui ipsum tempore beatae, volu tomi ptates
           br
           doloremque rerum aspernatur dolorum at!

        .form
          h3
            span.high Send
            A A Message
          .form2
            .holder
              input(placeholder="Your Name")
            .holder
              input(placeholder="Your Email")
            .holder
              textarea(placeholder="Your Message")
          .button
            a(href="#") Send Message
    .section2
      .content
        .text2
          h1
            span.light2 Working
            r Process
          p Lorem ipsum dolor sit amet consectet ur adipiscing elit  Vestibulum bibend um vestibulum.
        .process
          .pr1
            img(src="img/怀.png", alt="")
            h3 Koc Koi Tomi
            p Lorem ipsum is dummy
              br
              lorem lorem very dumy
            .button1
              a(href="#") + Know More
          .pr2
            img(src="img/耀.png", alt="")
            h3 Koimona Set
            p Lorem ipsum is dummy
              br
              lorem lorem very dumy
            .button1
              a(href="#") + Know More
          .pr3
            img(src="img/倀.png", alt="")
            h3 Setting Koire
            p Lorem ipsum is dummy
              br
              lorem lorem very dumy
            .button1
              a(href="#") + Know More
          .pr4
            img(src="img/ф.png", alt="")
            h3 Ko Image Lara
            p Lorem ipsum is dummy
              br
              lorem lorem very dumy
            .button1
              a(href="#") + Know More
    .section3
      .content
        .feature
          h1
            span.light2 Featured
            r Works
          p Lorem ipsum dolor sit amet consectetur adipisicing elit Maiores fuga provident Libero.
          .orange
            .pict
              img(src="img/Rectangle 3.jpg", alt="")
            .pict
              img(src="img/Rectangle 3.jpg", alt="")
            .pict
              img(src="img/Rectangle 3.jpg", alt="")
            .pict
              img(src="img/Rectangle 3.jpg", alt="")
            .pict
              img(src="img/Rectangle 3.jpg", alt="")
            .pict
              img(src="img/Rectangle 3.jpg", alt="")
            .pict
              img(src="img/Rectangle 3.jpg", alt="")
            .pict
              img(src="img/Rectangle 3.jpg", alt="")
            .pict
              img(src="img/Rectangle 3.jpg", alt="")
    .section4
      .content
        .services
          h1
            span.light2 Services
            r We Provide
          p Lorem ipsum dolor sit amet consectetur adipisicing elit Maiores fuga provident Libero.
          .app
            .colum1
              .it.active
              .it
              .it
              .it
            .colum2
              h2 Modern App Design
              .line
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus
              earum totam ad sint error porro. Consectetur, sunt, aperiam. Magni
              br
              r rem optio distinctio illum consequuntur delectus nulla illo aperiam
              br
              r itaque cumque.
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel officia
              vitae eveniet quam rem unde facilis.
              p vitae eveniet quam rem unde facilis.
              .button2
                a(href="#") + Know More
            .colum3
              img(src="img/apple-watch-mockup.jpg", alt="")
    .section5
      .content
        .skills
          h1
            span.light2 Team
            r Chinen & Skills
          p Lorem ipsum dolor sit amet consectetur adipisicing elit Maiores fuga provident Libero.
        .orange2
          .o1
            .cv
              h3 Bedi Manos
              p UI/UX Parena
          .o2
            .hover
              .hov
                p UI/UX  Design
                .load
                  .l1
                p English
                .load
                  .l2
                p Communication
                .load
                  .l3
                h3 Al Rayhan
                h4 UI/UX Designer
                .links
                  a.tvit(href="#")
                  a.face(href="#")
                  a.tvit(href="#")

          .o3
            .cv
              h3 Ali Sayed
              p UI/UX Designer
    .section6
      .content
        .client
          h1
            span.light2 Clients
            r Said
          p Lorem ipsum dolor sit amet consectetur adipisicing elit Maiores fuga provident Libero.
        .say

          .said
            .circle
            p “This was my first time renting from car rental. The service rep
              br
              r help me find the best rental to suit my needs. I will definitely
              br
              r rent with this company again”
            img(src="img/star.jpg", alt="")
            img(src="img/star.jpg", alt="")
            img(src="img/star.jpg", alt="")
            img(src="img/star.jpg", alt="")
            img(src="img/star.jpg", alt="")
            h5 Kita Say, HK Director
          .said
            .circle
            p “This was my first time renting from car rental. The service rep
              br
              r help me find the best rental to suit my needs. I will definitely
              br
              r rent with this company again”
            img(src="img/star.jpg", alt="")
            img(src="img/star.jpg", alt="")
            img(src="img/star.jpg", alt="")
            img(src="img/star.jpg", alt="")
            img(src="img/star.jpg", alt="")
            h5 Al Rayhan, UX Director
        .nav
            .n
              a(href="#")
            .n
              a(href="#")
            .n
              a(href="#")
    .section7
      .content
        .links2
          a.linked(href="#")
          a.drible(href="#")
          a.envato(href="#")
          a.linked(href="#")
          a.drible(href="#")
          a.envato(href="#")
    .section8
      .content
        .social
          .button3
            a(href="#") Contact Us
          .soc-links
           <a href="#" class="tw"><i class="fa fa-facebook fa-inverse"></i></a>
           <a href="#" class="tw"><i class="fa fa-twitter fa-inverse"></i></a>
           <a href="#" class="tw"><i class="fa fa-google-plus fa-inverse"></i></a>
           <a href="#" class="tw"><i class="fa fa-pinterest-p fa-inverse"></i></a>
           .copy
              p © 2015 - 2016 Deviserweb Ltd.
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">







































